.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}
.form-control {
  margin: 1rem 0;
}
.form-control label,
.form-control input {
  display: block;
}
.form-control input {
  border: 1px solid #901c33;
  border-radius: 2px;
  font: inherit;
  width: 100%;
}
button {
  font: inherit;
  border: 1px solid #ae890e;
  border-radius: 3px;
  color: #ae890e;
  background-color: white;
}
button:hover,
button:active {
  background-color: #ae890e;
  color: white;
}
.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.product-item {
    width: 20rem;
    max-width: 95%;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}
